/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}


/* Main-content */

main{
    background: linear-gradient(45deg,red,yellow);
   height: 100vh;
}

main .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.container-campo{
    display: flex;
    flex-direction: column;
    width: 360px;
    flex-wrap: wrap;
    align-items: center;
}

ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin-top: 20px;
}


ul li{
    width: 35px;
    height: 35px;
    border: 2px solid #000;
    background-color: rgb(145, 143, 143);
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li p{
    opacity: 0;
    cursor: pointer;
    padding: 2px;
    color: #fff;
}


.covid{
    background-image: url(../img/SARS-CoV-2_without_background.png);
    background-position: center;
    background-size: 25px;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-color: rgb(194, 194, 194);
}

.visibility{
    opacity: 1;
}